.box{
    min-height: 50vh;
    border-radius: .5rem;
}

.counter-box{
    background-color: white; /* bg-white */
    padding: 1.5rem; /* p-6 (24px) */
    border-radius: 0.5rem; /* rounded-lg (8px) */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    text-align: center; /* text-center */
    width: 30%;
}

.counter-text{
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.counter-center{
    flex: display;
    justify-content: center;
    align-items: center;
}